@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successfully logged in to facebook</title>
</head>
<body>
    <div>
        Successfully logged in to facebook
    </div>
</body>
</html>
